<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>We are having issues with our service!</h1>
    <p>We're working to fix this as quickly as possible. We apologize for the inconvenience.</p>

<%- include('includes/end.ejs') %>